# Configuration de la base de données PostgreSQL
DB_USER=postgres
DB_HOST=localhost
DB_NAME=prierenligne
DB_PASSWORD=your_password_here
DB_PORT=5432

# Autres variables d'environnement
NODE_ENV=development 